body{
    background-image: url("images/arrow_on.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}